name: Test
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Test with Python ${{ matrix.python }}
    runs-on: ubuntu-latest

    services:
      falkordb:
        # Docker Hub image
        image: falkordb/falkordb:edge
        # Map port 6379 on the Docker host to port 6379 on the FalkorDB container
        ports:
          - 6379:6379

    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12']
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{matrix.python}}

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv pip install --system -e . coverage

      - name: Run Tests
        run: coverage run -m unittest discover tests -v

      - name: Generate coverage report
        run: coverage xml

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        if: matrix.python == '3.10'
        with:
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
