name: Test
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Test with Python ${{ matrix.python }}
    runs-on: ubuntu-latest

    services:
      falkordb:
        # Docker Hub image
        image: falkordb/falkordb:edge
        # Map port 6379 on the Docker host to port 6379 on the FalkorDB container
        ports:
          - 6379:6379

    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12']
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{matrix.python}}

      - name: Install dependencies
        run: uv pip install -e .
        env:
          UV_SYSTEM_PYTHON: 1

      - name: Run Tests
        run: uv run --no-sync python -m unittest discover tests -v
